<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photo Collection Check</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-app="setup_db">
<h2>Photo Collection Check</h2>
<div ng-app="setup_db">
  <p>System hosting collection:</p>
  <input ng-model="host">
</div>
<div ng-
  <form role="form">
    <div class="form-group">
      <label for="host">Host:</label>
      <input type="text" class="form-control" id="host">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  </form>
</div>

</body>
</html>
